.about {
  padding-inline: 1.5rem;
  padding-bottom: 5rem;

  max-width: 45rem;
  margin: 0 auto;
}

.about__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
}

.about__text {
  opacity: 0.25;
  text-transform: none;
  padding-left: 0.75rem;
  font-size: 1.5rem;
}
