.hero {
  padding-block: 3.25rem 5.25rem;
  padding-inline: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.hero__title {
  --size: clamp(2rem, 1.586rem + 1.768vw, 3rem);

  display: flex;
  flex-direction: column;
  line-height: 90%;

  font-size: var(--size);
  text-transform: uppercase;
  font-weight: 600;
}

.hero__title span:nth-child(2) {
  padding-left: calc(var(--size) * 1.25);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  @media (min-width: 55rem) {
    margin-left: auto;
    max-width: 40%;
  }
}

.hero__text {
  font-size: 1.25rem;
}
