/*
  Artevelde hogeschool CSS Reset v0.2
  Adapted version from Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/
*/

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-dominant);
  color: var(--color-secondary);

  font-family: var(--font-switzer);

  min-height: 100%;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-clash);
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
