body {
  background-color: var(--color-dominant);
  color: var(--color-secondary);

  font-family: var(--font-switzer);
  font-size: var(--font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-clash);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
}
